# fly.toml app configuration file generated for paycore-api on 2025-11-07T13:09:23+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'paycore-api'
primary_region = 'ams'
console_command = '/app/manage.py shell'

[build]

[deploy]
  release_command = 'python manage.py migrate --noinput'

[env]
  PORT = '8000'

[processes]
  app = 'gunicorn --bind :8000 --workers 2 --worker-class uvicorn.workers.UvicornWorker paycore.asgi:application'
  celery = 'celery -A paycore worker --loglevel=info --concurrency=3'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '2gb'
  cpu_kind = 'shared'
  cpus = 2
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 2
  processes = ['celery']

[[statics]]
  guest_path = '/app/static'
  url_prefix = '/static/'
